.slick-slider {
  overflow: visible; /* Ensures no overflow issues */
}

.slick-list {
  margin-left: 16px; /*Adjust gutter width */
}

.slider-container {
  width: 100%;
  overflow-x: hidden; /* prevents horizontal scrolling */
  position: relative; /* required for absolute-positioned arrows */
  box-sizing: border-box;
  padding: 0 50px; /* or whatever you need for spacing around arrows */
  overflow-y: hidden;
  padding-bottom: 30px;
}
